.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.form-main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
#profile-completeness-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}
input {
  width: 80%;
  height: 2rem;
  overflow: hidden;
  font-size: large;
  text-align: start;
}
label {
  font-size: x-large;
  text-align: start;
}
button {
  padding: 0.3rem 0.5rem;
  width: 30%;
  height: 3rem;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}
#email {
  color: red;
  border: 1px solid red;
}
span {
  color: red;
}
.profile-completeness-present {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1rem;
  border-left: 2px solid black;
  box-shadow: 0 0 2px black;
}
.profile-completeness-present > h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}
.profile-completeness-present + p {
  font-size: x-large;
  margin: 0;
}
.card {
  height: 260px;
  width: 280px;
  background-color: lightgray;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1.8rem;
}
.card > p {
  font-size: large;
}
.card-txt-line1 ,.card-txt-line2 , .card-txt-line3{
   text-decoration: line-through;
   color: gray;
}

@media (max-width: 600px) {
  .profile-completeness-present {
    width: 100px;
    height: 100px;
  }
  span{
    font-size: small;
  }
  .profile-completeness-present > h2 {
    font-size: 30px;
  }
  .card {
    height: 200px;
    width: 140px;
    padding: 0.5rem;
  }
  .card > p {
    font-size: small;
  }
  .profile-completeness-present + p {
    font-size: large;
  }
  button {
    text-align: center;
    height: 2rem;
    width: 8rem;
  }
  input {
    width: 70%;
    height: 1.3rem;
    font-size: small;
  }
  label {
    font-size: large;
  }
}
